/* Whole page background */
.dashboard-container {
  min-height: 100vh;
  background: #f2f6fc;
  padding: 30px;
}

/* Dashboard Title */
.dashboard {
  text-align: center;
}

/* Cards Row */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

/* Each Card */
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Profile Form */
.profile-card {
  width: 350px;
  padding: 25px;
  border-radius: 12px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  margin: 40px auto;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Inputs */
.profile-card input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
}

/* Button */
.profile-card button {
  padding: 10px;
  background: #4CAF50;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}